$-clr-white: hsl(0, 0%, 100%);
$-clr-almost-white: hsl(252, 11%, 91%);
$-clr-grey: hsl(251, 9%, 53%);
$-clr-dark-grey: hsl(248, 10%, 15%);
$-clr-very-dark-grey: hsl(248, 15%, 11%);
$-clr-neon-green: hsl(127, 100%, 82%);
$-clr-1-red: hsl(0, 91%, 63%);
$-clr-2-orange: hsl(13, 95%, 66%);
$-clr-3-yellow: hsl(42, 91%, 68%);

$default: (
  "neutral": (
    "100": $-clr-white,
    "200": $-clr-almost-white,
    "500": $-clr-grey,
    "800": $-clr-dark-grey,
    "900": $-clr-very-dark-grey,
  ),
  "accent": (
    "100": $-clr-1-red,
    "200": $-clr-2-orange,
    "300": $-clr-3-yellow,
  ),
  "primary": (
    "400": $-clr-neon-green,
  ),
);

// contextual color tokens
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-500: var(--neutral-500);
$color-neutral-800: var(--neutral-800);
$color-neutral-900: var(--neutral-900);

$color-primary-400: var(--primary-400);

$color-accent-100: var(--accent-100);
$color-accent-200: var(--accent-200);
$color-accent-300: var(--accent-300);

$bg-color: linear-gradient(to right, hsl(247, 16%, 9%), hsl(255, 22%, 4%));

// Change Theme
$active-theme: $default;
$enable-media-query-dark-mode: false;

// box-shadow
$box-shadow-1: 0px 6px 5px rgb(0, 0, 0, 0.012),
  0px 22px 18px rgb(0, 0, 0, 0.018), 0px 100px 80px rgb(0, 0, 0, 0.03);

$box-shadow-2: 0px 6px 5px rgb(0, 0, 0, 0.016),
  0px 22px 18px rgb(0, 0, 0, 0.024), 0px 100px 80px rgb(0, 0, 0, 0.04);

$box-shadow-3: 0px 6px 5px rgb(0, 0, 0, 0.02), 0px 22px 18px rgb(0, 0, 0, 0.03),
  0px 100px 80px rgb(0, 0, 0, 0.05);

$box-shadow-4: 0px 6px 5px rgb(0, 0, 0, 0.03), 0px 22px 18px rgb(0, 0, 0, 0.042),
  0px 100px 80px rgb(0, 0, 0, 0.07);

$box-shadow-5: 0px 6px 5px rgb(0, 0, 0, 0.04), 0px 22px 18px rgb(0, 0, 0, 0.06),
  0px 100px 80px rgb(0, 0, 0, 0.1);
