@use "../abstracts/" as *;

.copy-button {
  display: inline-flex;
  align-items: center;
  gap: $size-4;
  color: $color-primary-400;
  background-color: transparent;
  border: none;
  cursor: pointer;

  & svg {
    fill: #a4ffaf;
    transition: fill 275ms ease;
  }

  &:hover svg,
  &:focus svg {
    fill: hsl(0, 0%, 100%);
  }
}

.generate-button {
  display: inline-flex;
  gap: $size-4;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-block-start: $size-4;
  border: none;
  outline: 2px solid transparent;
  background-color: $color-primary-400;
  padding-block: calc($size-4 + 2px);
  text-transform: uppercase;
  cursor: pointer;
  transition: 275ms ease;

  @include mq(medium) {
    margin-block-start: $size-8;
  }

  & svg {
    fill: #24232c;
    transition: fill 275ms ease;
  }

  &:hover,
  &:focus {
    color: $color-primary-400;
    background-color: $color-neutral-800;
    outline-color: $color-primary-400;
    svg {
      fill: hsl(127, 100%, 82%);
    }
  }
}
