@use "../abstracts/" as *;

.password-output-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-block: $size-4;
  padding: $size-4;
  background-color: $color-neutral-800;

  @include mq(medium) {
    margin-block-start: $size-8;
    margin-block-end: $size-6;
    padding: $size-5 $size-8;
  }
  @include mq(large) {
    margin-block: $size-8;
  }
}
