@font-face {
  font-family: "JetBrains Mono";
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/static/JetBrainsMono-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrains Mono";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/static/JetBrainsMono-BoldItalic.ttf")
    format("truetype");
}
