@use "../abstracts/" as *;

body {
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
  font-size: $font-size-400;
  color: $color-neutral-200;
  background: $bg-color;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  margin-block: $size-4;
}

// a {
//   color: $color-accent-300;
// }

// a:is(:hover, :focus) {
//   color: $color-primary-300;
// }
